.main_link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
  z-index: 1;

  transition: color 0.35s;

  background-color: unset;
  border: var(--destaque) 2px solid;

  color: var(--destaque);

  margin: 1rem;
  padding: 0.35rem;
  font-size: 1.35rem;
  min-width: 15.5%;

  overflow: hidden;

  font-family: var(--ff-destaque);
  font-weight: 900;
}

.main_link a {
  color: inherit;
  text-decoration: none;
}

.main_link a:visited {
  color: inherit;
}

.main_link svg {
  margin: 1%;
  width: 2rem;
  height: 2rem;
}

.main_link::after {
  content: "";

  transition: top 0.35s;

  position: absolute;
  height: 100%;
  width: 100%;

  left: 0;
  top: 95%;
  z-index: -1;

  background-color: var(--destaque);
}

.main_link:hover {
  color: white;
  cursor: pointer;
}

.main_link:hover::after {
  top: 0;
}
