.content {
  display: flex;
  flex-direction: column;
  margin: 7dvh auto;
  margin-top: 30dvh;
  width: calc(95vw - 6rem);
  background-color: white;
  font-family: var(--ff-text);
  font-size: 1.25rem;
  box-shadow: var(--shadow);
}

.aviso {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: var(--ff-destaque);
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: #104b81;
  color: white;
}

#titleWrapper {
  background-color: var(--destaque);
  width: 100%;
  text-align: center;
}

#title {
  color: white;
  font-family: var(--ff-destaque);
  padding: 0.75rem;
  letter-spacing: 0.15rem;
  margin: 0;
  background: linear-gradient(135deg, #ccc3 25%, transparent 25%) -40px 0,
    linear-gradient(225deg, #ccc3 25%, transparent 25%) -40px 0,
    linear-gradient(315deg, #ccc3 25%, transparent 25%),
    linear-gradient(45deg, #ccc3 25%, transparent 25%);
  background-size: 80px 80px;
}

.innerContent {
  margin: 3rem;
}

.innerContent h3 {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.inicio {
  text-align: center;
}

.split {
  font-family: var(--ff-text);
  display: flex;
}

.split div p {
  margin-bottom: 2rem;
}

.split .atracoes {
  font-size: 1.5rem;
  width: 45%;
  margin-left: 4%;
}

.split .carousel {
  width: 50%;
}

.split:has(.map) div {
  width: 50%;
}

.split .map div {
  width: 90%;
}

.atracoes h2 {
  font-size: 1.75rem;
  text-align: center;
}

ul {
  display: initial !important;
}

.atracoes li {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

li::marker {
  color: var(--destaque);
}

.split .slideshow {
  margin: 2rem;
  width: calc(60% - 4rem);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

table {
  font-size: 1.15rem;
  width: 75%;
  margin: 2rem auto;
  box-shadow: #00000055 2px 5px 5px;
  border-bottom: 3px solid #104b81;
}

table thead {
  background-color: var(--azul-base);
}

table th {
  padding: 0.5rem 1vw;
  color: white;
}

table tr {
  text-align: center;
}

td {
  padding: 0.5rem;
}

.apNome {
  position: relative;
  text-align: justify;
  padding-left: 3%;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color 0.25s;
}

.apNome:hover {
  color: white;
}

.apNome::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  background-color: #104b81;
  transition: top 0.25s;
}

.apNome:hover::after {
  top: 0;
}

.odd {
  background-color: #00000022;
}

.observ {
  margin: 0 auto;
  display: block;
  max-width: 80%;
  font-size: 0.95rem;
  text-align: center;
}

.disclaimer {
  color: var(--azul-base);
  font-weight: 900;
  font-family: var(--ff-text);
  font-size: 1.5rem;
  text-align: center;
}

.imagesGrouping {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
  cursor: pointer;
  margin: 0 0.3rem 0.3rem 0;
  width: 49.4%;
}

.imageInfo {
  font-family: var(--ff-text);
  font-weight: 300;
  letter-spacing: 3px;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  padding: 0.35rem 0;
  text-align: center;
  font-size: 1.25rem;
  background-color: #000000aa;
  color: white;
  pointer-events: none;
}

.imageContainer img {
  width: 100%;
  max-height: 40dvh;
  object-fit: cover;
}

button {
  margin: 0.5rem;
}

@media (max-width: 767px) {
  .content {
    width: 100dvw;
    /* margin: 40dvh 0; */
  }

  .innerContent {
    margin: 0;
  }

  .inicio {
    text-align: justify;
    padding: 2rem;
  }

  .split .atracoes {
    margin: 0;
    padding: 2rem;
    width: 100%;

    text-align: justify;
  }

  .split .carousel {
    width: 100%;
  }

  .split {
    display: flex;
    flex-direction: column;
  }

  .split div {
    width: 100%;
  }

  .split:has(.map) {
    display: flex;
    flex-direction: column-reverse;
  }

  .innerContent .split .directions {
    padding: 2rem;
    width: 100%;
    text-align: justify;
  }

  .innerContent .split .map,
  .split .map div {
    width: 100%;
  }

  table {
    width: 100%;
    margin: 0;
    font-size: 13px;
  }

  .observ {
    text-align: justify;
    margin-top: 2rem;
  }

  .disclaimer {
    margin-bottom: 3rem;
  }

  .imageContainer {
    width: 100%;
    margin: 0;
  }
}
