a:has(> .logo) {
  position: absolute;

  top: 14dvh;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  position: relative;
  z-index: 5;

  display: flex;

  justify-content: center;
  align-items: center;

  background-color: white;

  margin-top: 5dvh;

  width: 27.5dvw;
  height: 18dvh;

  margin: 0 auto;

  text-align: center;

  box-shadow: 0px 0px 5px #00000088;

  :hover {
    cursor: pointer;
  }
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.backRibbon {
  content: "";

  position: absolute;
  top: 18.5dvh;
  z-index: -2;

  background-color: white;

  width: 100dvw;
  height: 4.5rem;

  box-shadow: 0px 0px 5px #00000088;
}

@media (max-width: 767px) {
  .logo {
    width: 75dvw;
    margin-top: 3rem;
  }

  .backRibbon {
    top: 10rem;
  }
}

@media (orientation: landscape) {
  .logo {
    width: 50dvw;
  }

  .backRibbon {
    display: none;
  }
}
