.Social {
  width: 10rem;
  height: 15rem;
  background-color: red;

  position: absolute;
  top: 6rem;
  right: -10rem;

  text-align: center;
  color: white;

  transform: rotate(-90deg);
}

.Social p {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: aqua;
}
