.EasyBooking {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 75%;
  border: 2px solid var(--azul-base);

  margin: 0 auto;
}

.EasyHeading {
  width: 100%;
  background-color: var(--azul-base);
  color: white;

  padding: 0.5rem;

  font-family: var(--ff-text);
}

.SliderWrapper {
  width: 50%;
}

.SliderWrapper label {
  display: inline-block;
  margin-bottom: 2rem;
}

.DatesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 50%;
}

.Options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 80%;
}

.Options .buttonOption {
  font-family: var(--ff-text);
  font-size: 1rem;

  background-color: transparent;
  border: 2px solid var(--azul-base);
  color: var(--azul-base);
  font-weight: 700;
  cursor: pointer;

  padding: 0.5rem;
  width: 70%;
}

.obs {
  background-color: var(--azul-base);
  color: white;
  width: 100%;
  font-size: 1rem;
  padding-top: 0.5rem;
}
