@font-face {
  font-family: Istok;
  src: url("./assets/fonts/IstokWeb-Regular.ttf");
}
@font-face {
  font-family: Fontastique;
  src: url("./assets/fonts/fontastique.ttf");
}

:root {
  --destaque: #00a990;
  --azul-base: #1565af;
  --whats: #25d366;
  --face: #1773ea;
  --ff-destaque: Fontastique;
  --ff-text: "Istok Web", Istok;
  --shadow: 0px 0px 15px #000d;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-destaque);
  color: var(--destaque);
  margin-bottom: 0.5rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--azul-base);
  overflow-x: hidden;
}
